<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to 'Projects', projects_path %></li>
  <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
<% end %>

<% presenter = Projects::Show.new(project: @project) %>
<div class="jumbotron">
  <h1>
    <%= presenter.project_name %>
  </h1>
</div>

<div class='row'>
  <div class="col-md-4">
    <ul class="list-group mb-3">
      <% presenter.callout_boxes.each do |callout_box| %>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"><%= callout_box[:title] %></h6>
            <small class="text-muted"><%= callout_box[:help] %></small>
          </div>
          <span class="text-muted">
            <%= callout_box[:content] %>
          </span>
        </li>
      <% end %>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <%= render partial: 'projects/add_item_group', locals: { project: @project } %>
      </li>
    </ul>
  </div>

  <div class="col-md-8">
    <h3 class="d-flex justify-content-between align-items-center mb-3">
      <span class="badge badge-secondary badge-pill">
        <%= presenter.room_count %>
      </span>
    </h3>
    <%= render partial: 'projects/item_groups', locals: { item_groups: @project.item_groups.order(name: :asc) } %>
  </div>
</div>
