<div id="accordion">

  <% item_groups.each do |item_group| %>
    <% card_label = "headingItemGroup#{item_group.id}" %>
    <% collapse_label = "collapseItemGroup#{item_group.id}" %>
    <% shown = params[:shownItemGroup]&.to_i == item_group.id%>
    <div class="card">
      <div class="card-header" id="<%= card_label %>">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#<%= collapse_label %>" aria-expanded="false" aria-controls="<%= collapse_label %>">
            <%= item_group.name %>
          </button>
        </h5>
      </div>

      <div id="<%= collapse_label %>" class="collapse <%= shown ? "show" : nil %>" aria-labelledby="<%= card_label %>" data-parent="#accordion">
        <div class="card-body">
          <%= render partial: 'items/index', locals: { items: item_group.items } %>
          <%= link_to 'Add Item', new_project_item_group_item_path(@project, item_group), class: 'btn btn-outline-primary'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
