<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Projects', projects_path %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to item_group.project.name, item_group.project %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= item_group.name %></li>
  </ol>
</nav>
<div class="jumbotron">
  <h1>
    <%= @item_group.name %>
  </h1>

  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#itemGroupModal<%= item_group.id %>">
    Edit
  </button>
  <% callout_boxes = [] %>
  <% callout_boxes << { title: "Total Spent", content: item_group.total_spent } %>
  <% callout_boxes << { title: "Total Allocated", content: item_group.total_allocated } %>
  <% callout_boxes << { title: "Budget", content: humanized_money_with_symbol(item_group.budget) } %>
  <div class="row">
    <% callout_boxes.each do |callout_box| %>
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-right">
                <i class="mdi mdi-currency-usd widget-icon"></i>
            </div>
            <h5 class="text-muted font-weight-normal mt-0" title="Budget"><%= callout_box[:title] %></h5>
            <h3 class="mt-3 mb-3"><%= callout_box[:content] %></h3>
            <p class="mb-0 text-muted">
              <%= callout_box[:small] %>
              &nbsp;
            </p>
          </div> <!-- end card-body-->
        </div> <!-- end card-->
      </div> <!-- end col-->
    <% end %>
  </div> <!-- end row -->
</div>
<% cache item_group do %>
  <button class='btn btn-outline-secondary' href='#' data-toggle="modal" data-target="#newItemModal<%=item_group.id%>">
    Add Item
  </button>
  <div class="modal fade" id="itemGroupModal<%=item_group.id%>" tabindex="-1" role="dialog" aria-labelledby="itemGroupModalLabel<%=item_group.id%>" aria-hidden="true">
    <%= render partial: 'item_groups/modal_form', locals: { item_group: item_group } %>
  </div>
  <% groups = item_group.items.order("id asc") %>
  <%= render partial: 'items/index', locals: { items: groups } %>
  <div class="modal fade" id="newItemModal<%=item_group.id%>" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
    <%= render partial: 'items/modal_form', locals: { item: Item.new(item_group: item_group) } %>
  </div>
<% end %>
