<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :quantity %>
  <%= form.number_field :quantity %>
</div>

<div class="field">
  <%= form.label :purchase_price %>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <%= form.number_field :purchase_price,  step: "0.01" %>
  </div>
</div>

<div class="field">
  <%= form.label :note %>
  <%= form.rich_text_area :note %>
</div>
