<%= form_with(model: [item.item_group.project, item.item_group, item], local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'items/fields', locals: { form: form } %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
