<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Purchase price</th>
      <th colspan=2></th>
    </tr>
  </thead>

  <tbody>
    <% total_spent = humanized_money_with_symbol(items.map(&:purchase_price).select{ |s| s.present? }.sum || 0) %>
    <% items.each do |item| %>
      <tr>
        <a name="item-tr-<%=item.id%>"/>
        <td><%= item.name %> x <%= item.quantity %></td>
        <td><%= item.purchase_price&.format || 'Not Purchased' %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="itemActionsdropdownMenuButton<%=item.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="itemActionsdropdownMenuButton<%=item.id%>">
              <a class="dropdown-item" data-toggle="modal" data-target="#itemEditModal<%= item.id %>">
                Edit
              </a>
              <%= link_to 'Destroy', [item.item_group.project, item.item_group, item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %></td>
            </div>
          </div>
          <div class="modal fade" id="itemEditModal<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="itemEditModalLabel<%=item.id%>" aria-hidden="true">
            <%= render partial: 'items/modal_form', locals: { item: item } %>
          </div>
        </td>
        <td>
      </tr>
    <% end %>
    <tr>
      <td><b>Total Spent: </b></td>
      <td><%= total_spent %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
