<p id="notice"><%= notice %></p>

<p>
  <strong>Item group:</strong>
  <%= @item.item_group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Purchase price cents:</strong>
  <%= @item.purchase_price_cents %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
