<!DOCTYPE html>
<html class=''>
  <head>
    <title>Budgetr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-dark h-100'>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Budgetr</a>
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'text-white' %>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class='container pt-2 h-100'>
      <% if notice.present? %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div> 
      <% end %>
      <% if @restorable.present? %>
        <div class="alert alert-secondary" role="alert">
          Restore last delete?
          <%= button_to 'Restore', restore_version_path(id: @restorable), class: 'btn btn-primary btn-sm' %>
        </div> 
      <% end %>
      <% breads = yield :breadcrumbs %>
      <% if breads.present? %>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <%= breads %>
          </ol>
        </nav>
      <% end %>
      <main class='bg-white p-3 rounded'>
        <%= yield %>
      </main>
    </div>
    <div class="fixed-bottom toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Alert</strong>
      </div>
      <div class="toast-body">
        Success
      </div>
    </div>
  </body>
</html>
