<!DOCTYPE html>
<html>
  <head>
    <title>Budgetr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Budgetr</a>
    </nav>
    <div class='container'>
      <% if notice.present? %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div> 
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
